* {
  margin: 0;
  box-sizing: border-box;
}

#title {
  padding: 20px;
  line-height: 45px;
  text-align: center;
}

#output {
  display: none;
}

#output div {
  padding: 10px;
  width: 100%;
  border: 1px #000 solid;
}

h4 {
  margin: 5px 0 5px 0;
}

table, table tr th, table tr td {
  border: 1px solid #0094ff;
}

table {
  margin: 0 auto;
  width: 80%;
  min-height: 25px;
  line-height: 25px;
  text-align: center;
  border-collapse: collapse;
}

table td {
  padding: 5px;
}

table tbody tr:nth-child(odd) {
  background: #eee;
}
