* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #E6ECF0;
  height: 2000px;
}

#topbar {
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  border-bottom: 1px #aaa solid;
  box-shadow: 0 1px 1px #ccc;
}

#topbar .container {
  position: relative;
  text-align: center;
  height: 46px;
  margin: 0 auto;
  width: 80%;
}

.container>div {
  float: left;
}

/* tabs */

.tabs ul {
  height: 46px;
}

.tabs ul li {
  color: #677680;
  cursor: pointer;
  list-style-type: none;
  float: left;
  height: 100%;
  padding: 10px;
  border-bottom: 0 #1DA1F2 solid;
  transition: border-bottom 0.2s ease-in-out;
}

.tabs ul li:before {
  padding-right: 10px;
  font-family: FontAwesome;
}

.tabs ul li:hover, .tabs ul li.active {
  color: #1DA1F2;
  transition: color 0.2s ease-in-out;
  border-bottom: 3px #1DA1F2 solid;
}

.tabs ul li:nth-child(1):before {
  content: "\f015";
}

.tabs ul li:nth-child(2):before {
  content: "\f0e7";
}

.tabs ul li:nth-child(3):before {
  content: "\f0f3";
}

.tabs ul li:nth-child(4):before {
  content: "\f0e0";
}

/* right bar */

.btn {
  border: none;
  background: #4AB3F4;
  padding: 6px 16px;
  color: #fff;
  border-radius: 100px;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
}

.btn:hover {
  background: #1DA1F2;
}

.search-bar form {
  float: left;
  height: 33px;
  font-size: 12px;
  width: 221px;
  position: relative;
}

#search-query button {
  cursor: pointer;
  background-color: transparent;
  color: #66757f;
  height: auto;
  width: auto;
  border: 0;
  outline: none;
  position: absolute;
  right: 10px;
  top: 7px;
}

#search-query button::before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 18px;
  line-height: 18px;
}

.logo {
  width: 24px;
  height: 21px;
  color: #1DA1F2;
  margin-top: 10px;
  transform: scale(1.2);
  position: absolute;
  left: 50%;
}

a:link {
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.search-bar input {
  padding: 8px 32px 8px 12px;
  border-radius: 50px;
  height: 32px;
  width: 100%;
  border: none;
  background: #eee;
  outline: none;
  font-size: 12px;
  color: #14171a;
  border: 1px solid #e6ecf0;
  transition: all .2s ease-in-out;
}

.search-bar input:focus {
  border: 2px #1DA1F2 solid;
  background: #fff;
}

.nav-extras {
  height: 100%;
  position: absolute;
  right: 0;
}

.nav-extras ul li {
  list-style-type: none;
  float: left;
  margin-right: 20px;
  height: 100%;
  margin-top: 8px;
}

.nav-extras ul li:nth-child(2) img {
  width: 32px;
  border-radius: 50%;
  border: 0 #1DA1F2 solid;
  padding: 0;
  transition: all 0.15s ease-in-out;
}

.nav-extras ul li:nth-child(2) img:hover {
  padding: 1px;
  border: 2px #1DA1F2 solid;
}

.dropdown-menu {
  display: none;
  position: absolute;
  width: 200px;
  top: 50px;
  left: auto;
  right: calc(50% - 85px);
  background: #fff;
  color: #14171a;
  padding: 10px 0 10px 0;
  border-radius: 6px;
}

.dropdown-menu ul li {
  width: 100%;
  height: auto;
  margin: 0;
  text-align: left;
}

.dropdown-menu::before {
  left: 170px;
  top: -9px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #fff transparent;
  position: absolute;
}

.dropdown-menu ul li a {
  display: block;
  width: 100%;
  padding: 10px 25px 10px 20px;
}

.dropdown-menu ul li:not(:first-child):not(.dropdown-divider):hover {
  background: #1DA1F2;
  color: #fff;
}

.dropdown-menu ul li.dropdown-divider {
  padding: 1px 0 0 0;
  margin: 5px 1px 6px;
  border-bottom: 1px solid #e6ecf0;
}

.user-info .name {
  color: #657786;
}

.dropdown-menu li:not(:first-child):not(.dropdown-divider) a:before, .dropdown-menu li:not(:first-child):not(.dropdown-divider) a:after {
  font-family: FontAwesome;
  margin-right: 12px;
  font-size: 18px;
}

.dropdown-menu .profile a::before {
  content: "\f007";
}

.dropdown-menu .lists a::before {
  content: "\f0ca";
}

.dropdown-menu .moments a::before {
  content: "\f0e7";
}

.dropdown-menu .promote-mode a::before {
  content: "\f0ad";
}

.dropdown-menu .ads a::before {
  content: "\f170";
}

.dropdown-menu .analytics a::before {
  content: "\f080";
}

.dropdown-menu .night-mode a::after {
  content: "\f186";
  position: absolute;
  right: 0;
  padding-right: 5px;
}

.show {
  display: block;
}

.hover-text {
  left: 45%;
  top: 50px;
  padding: 10px;
  border-radius: 6px;
  background: #000;
  color: #fff;
  position: absolute;
}

.hover-text:before {
  content: '';
  top: -8px;
  left: 45%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #000 transparent;
  position: absolute;
}
