* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #E6ECF0;
  height: 2000px;
}

#topbar {
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 5000;
  border-bottom: 1px #aaa solid;
  box-shadow: 0 1px 1px #ccc;
}

#topbar .container {
  position: relative;
  text-align: center;
  height: 46px;
  margin: 0 auto;
  width: 80%;
}

.container>div {
  float: left;
}

/* tabs */

.tabs ul {
  height: 46px;
}

.tabs ul li {
  color: #677680;
  cursor: pointer;
  list-style-type: none;
  float: left;
  height: 100%;
  padding: 10px;
  border-bottom: 0 #1DA1F2 solid;
  transition: border-bottom 0.2s ease-in-out;
}

.tabs ul li:before {
  padding-right: 10px;
  font-family: FontAwesome;
}

.tabs ul li:hover, .tabs ul li.active {
  color: #1DA1F2;
  transition: color 0.2s ease-in-out;
  border-bottom: 3px #1DA1F2 solid;
}

.tabs ul li:nth-child(1):before {
  content: "\f015";
}

.tabs ul li:nth-child(2):before {
  content: "\f0e7";
}

.tabs ul li:nth-child(3):before {
  content: "\f0f3";
}

.tabs ul li:nth-child(4):before {
  content: "\f0e0";
}

/* right bar */

.btn {
  border: none;
  background: #4AB3F4;
  padding: 6px 16px;
  color: #fff;
  border-radius: 100px;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  margin-right: 10px;
}

.tweet:hover {
  background: #1DA1F2;
}

.search-bar form {
  float: left;
  height: 33px;
  font-size: 12px;
  width: 221px;
  position: relative;
}

#search-query button {
  cursor: pointer;
  background-color: transparent;
  color: #66757f;
  height: auto;
  width: auto;
  border: 0;
  outline: none;
  position: absolute;
  right: 10px;
  top: 7px;
}

#search-query button::before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 18px;
  line-height: 18px;
}

.logo {
  width: 24px;
  height: 21px;
  color: #1DA1F2;
  margin-top: 10px;
  transform: scale(1.2);
  position: absolute;
  left: 50%;
}

a:link {
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.search-bar input {
  padding: 8px 32px 8px 12px;
  border-radius: 50px;
  height: 32px;
  width: 100%;
  border: none;
  background: #eee;
  outline: none;
  font-size: 12px;
  color: #14171a;
  border: 1px solid #e6ecf0;
  transition: all .2s ease-in-out;
}

.search-bar input:focus {
  border: 2px #1DA1F2 solid;
  background: #fff;
}

.nav-extras {
  height: 100%;
  position: absolute;
  right: 0;
}

.nav-extras ul li {
  list-style-type: none;
  float: left;
  margin-right: 20px;
  height: 100%;
  margin-top: 8px;
}

.nav-extras ul li:nth-child(2) img {
  border: 0 #1DA1F2 solid;
  padding: 0;
  transition: all 0.15s ease-in-out;
}

.nav-extras ul li:nth-child(2) img:hover {
  padding: 1px;
  border: 2px #1DA1F2 solid;
}

.dropdown-menu {
  display: none;
  position: absolute;
  width: 200px;
  top: 50px;
  left: auto;
  right: calc(50% - 85px);
  background: #fff;
  color: #14171a;
  padding: 10px 0 10px 0;
  border-radius: 6px;
}

.dropdown-menu ul li {
  width: 100%;
  height: auto;
  margin: 0;
  text-align: left;
}

.dropdown-menu::before {
  left: 170px;
  top: -9px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #fff transparent;
  position: absolute;
}

.dropdown-menu ul li a {
  display: block;
  width: 100%;
  padding: 10px 25px 10px 20px;
}

.dropdown-menu ul li:not(:first-child):not(.dropdown-divider):hover {
  background: #1DA1F2;
  color: #fff;
}

.dropdown-menu ul li.dropdown-divider {
  padding: 1px 0 0 0;
  margin: 5px 1px 6px;
  border-bottom: 1px solid #e6ecf0;
}

.user-info .name {
  color: #657786;
}

.dropdown-menu li:not(:first-child):not(.dropdown-divider) a:before, .dropdown-menu li:not(:first-child):not(.dropdown-divider) a:after {
  font-family: FontAwesome;
  margin-right: 12px;
  font-size: 18px;
}

.dropdown-menu .profile a::before {
  content: "\f007";
}

.dropdown-menu .lists a::before {
  content: "\f0ca";
}

.dropdown-menu .moments a::before {
  content: "\f0e7";
}

.dropdown-menu .promote-mode a::before {
  content: "\f0ad";
}

.dropdown-menu .ads a::before {
  content: "\f170";
}

.dropdown-menu .analytics a::before {
  content: "\f080";
}

.dropdown-menu .night-mode a::after {
  content: "\f186";
  position: absolute;
  right: 0;
  padding-right: 5px;
}

.show {
  display: block;
}

.hover-text {
  left: 45%;
  top: 50px;
  padding: 10px;
  border-radius: 6px;
  background: #000;
  color: #fff;
  position: absolute;
}

.hover-text:before {
  content: '';
  top: -8px;
  left: 45%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #000 transparent;
  position: absolute;
}

.tweet-frame {
  z-index: 5001;
  position: absolute;
  top: 30vh;
  width: 600px;
  height: auto;
  left: 36%;
  color: #14171a;
  background: #fff;
  border-radius: 6px;
  position: fixed;
  overflow: hidden;
}

.content {
  position: relative;
}

.modal-header {
  width: 100%;
  text-align: center;
  border-bottom: solid 1px rgba(29, 161, 242, 0.25);
}

.modal-title {
  font-size: 18px;
  padding: 12px 0 12px 0;
}

.modal-body {
  max-height: calc(90vh - 124px);
  min-height: 151px;
  overflow-y: auto;
  padding: 8px 12px;
  background-color: #1DA1F2;
  border-radius: 8px;
  background: rgba(29, 161, 242, 0.1);
  overflow: hidden;
}

#tweet-box {
  display: flex;
}

.avatar {
  height: 32px;
  width: 32px;
  border-radius: 100px;
}

#tweet-box .avatar {
  width: 36px;
  height: 36px;
  margin-right: 4px;
  margin-top: 8px;
}

#editor {
  border-radius: 8px;
  border: 1px solid #e6ecf0;
  outline: none;
  padding: 8px;
  width: 100%;
  top: 0;
  height: 100px;
  background: #fff;
  margin: 8px 0 8px 8px;
  transition: 0.2s;
  overflow: auto;
}

#editor:focus {
  border-color: #A4D9F9;
  box-shadow: 0 0 0 2px #A4D9F9;
}

[contentEditable=true]:empty:not(:focus):before {
  content: attr(data-placeholder);
  color: #aab8c2;
}

[contentEditable=true]:focus:before {
  content: attr(data-placeholder);
  opacity: 0.8;
  color: #aab8c2;
}

[contentEditable=true]:not(:empty):before {
  content: '';
  color: #14171a;
}

.tweet-frame button.close {
  position: absolute;
  color: #000;
  top: 0;
  right: 0;
  padding: 15px;
  background: none;
}

.filter {
  background: rgba(0, 0, 0, 0.5);
  display: none;
  position: fixed;
  overflow: auto;
  overflow-x: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5000;
}

.confirm-discard {
  top: 50vh;
  left: 40%;
  z-index: 5003;
  width: 500px;
  height: 160px;
}

.confirm-discard>.modal-body {
  background: #fff;
  min-height: 60px;
  padding: 12px;
  font-size: 1rem;
  line-height: 2rem;
  border-bottom: solid 1px rgba(29, 161, 242, 0.25);
  overflow: hidden;
}

.modal-footer {
  width: 100%;
  text-align: right;
  padding: 8px;
  height: 50px;
}

.cancel {
  background-color: #fff;
  border: 1px solid #66757f;
  color: #66757f;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

section {
  position: relative;
  width: 100%;
  top: 80px;
  padding: 0 16px;
}

section .tweets {
  background: #fff;
  padding: 10px;
  margin-bottom: 5px;
}

/* Media query */

@media (max-width: 1200px) {
  .tab-text {
    display: none;
  }
  .logo {
    left: 40%;
  }
  .search-bar form {
    width: 130px;
  }
  .nav-extras ul li {
    margin-right: 6px;
  }
}

@media (max-width:760px) {
  #topbar .container {
    width: 100%;
  }
}

@media (max-width:530px) {
  .tabs ul li {
    float: none;
    background: rgba(255, 255, 255, 0.5);
  }
  section {
    padding: 0 60px;
  }
  .logo {
    left: 18%;
  }
  .nav-extras {
    transform: scale(0.8);
    position: absolute;
    right: -30px;
  }
}

/* @media (max-width: 500px) {
  .search-bar {
  display: none;
  }
  .logo {
    left: 50%;
  }
  }

  @media (max-width:360px) {
    .logo {
      display: none;
    }
    .accout {
      display: none;
    }
  }

  @@media (max-width:280px) {

  } */
