body {
  margin: 0;
  padding: 0;
  background: #fafafa;
  height: 1500px;
}

* {
  box-sizing: border-box;
}

/* Nav bar */

#navbar {
  position: fixed;
  display: flex;
  top: 0;
  height: 77px;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, .0975);
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  transition: height 0.3s ease-in-out;
}

#navbar-inner {
  max-width: 1010px;
  height: 77px;
  display: flex;
  padding: 26px 40px;
  width: 100%;
}

#navbar-inner>div {
  display: flex;
}

#logo {
  flex: 1 9999 0%;
  font-size: 2rem;
  align-items: center;
}

#searchbar {
  flex: 0 1 auto;
  top: 0;
  transition: top 0.3s ease-in-out;
}

#accout {
  flex: 1 0 0%;
}

#logo img {
  position: relative;
  top: 5px;
  width: 7rem;
  height: 2.5rem;
  padding-left: 10px;
}

#title {
  display: inline-block;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

#logo #title::before {
  content: '|';
  position: relative;
  top: -8px;
  font-weight: lighter;
  color: #B5B5B5;
}

#icon {
  position: relative;
  top: -4px;
  padding-right: 8px;
  box-sizing: content-box;
  color: #323232;
}

a {
  text-decoration: none;
}

a:link, a:active, svg {
  color: inherit;
}

/* searchbar */

#searchbar {
  height: 28px;
  width: 215px;
  min-width: 125px;
  flex: 0 1 auto;
  position: relative;
}

#searchbar input {
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  color: #262626;
  font-size: 14px;
  outline: none;
  padding: 3px 10px 3px 26px;
}

#mask {
  font-size: 14px;
  border-radius: 3px;
  color: #999;
  cursor: text;
  padding: 7px;
  position: absolute;
  text-align: center;
  z-index: 2;
  justify-content: center;
  border: solid 1px #dbdbdb;
  background: #fafafa;
  height: 100%;
  width: 100%;
  flex-direction: column;
  display: flex;
}

.mask-hide {
  background: #fff !important;
  width: 0 !important;
  border: none !important;
  padding: 0 !important;
}

.zoom-hide {
  left: 6px !important;
  position: absolute !important;
}

#accout {
  align-items: center;
  justify-content: flex-end;
}

#accout ul {
  display: flex;
  list-style-type: none;
}

#accout ul li {
  color: #323232;
  margin-right: 1.5rem;
  font-size: 1.5rem;
}

#placeholder {
  margin-left: 6px;
  user-select: none;
  height: 20px;
  max-width: 162px;
  overflow: hidden;
  display: inline-flex;
}

#close {
  position: absolute;
  right: 12px;
  top: 3px;
  cursor: pointer;
  color: #C7C7C7;
}
