* {
    margin: 0;
    padding: 0;
}

.container {
    background: #eee;
    padding: 20px;
    width: 60%;
    margin: 0 auto;
}

form {
    border: 5px solid white;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    display: table;
}

a {
    text-decoration: none;
    display: inline-block;
    width: 60px;
}

.btn {
    width: 60px;
    margin: 10px 0 0 10px;
}

.btn-normal {
    background: blue;
    color: white;
}

.btn-danger {
    background: red;
    color: white;
}


.form-group {
    margin: 10px;
    text-align: right;
}

.bookmark {
    text-align: center;
    margin: 10px 0 10px 0;
    padding: 10px;
    border: 5px solid white;
}