:root {
  --zhihuBlue: #0084ff;
  --zhihuGray: #f6f6f6;
  --zhihuLight: #8590a6;
}

body {
  margin: 0;
  color: #1a1a1a;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: var(--zhihuGray);
  height: 1500px;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr;
}

/* Header */

.p {
  position: relative;
  height: 52px;
}

header {
  z-index: 100;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
  background-clip: content-box;
  box-sizing: border-box;
}

.header-inner {
  width: 1000px;
  height: 52px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.logo {
  width: 64px;
}

/* Nav */

.header-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

.header-nav>a {
  padding: 0 15px;
}

.header-nav>a:first-child {
  padding-left: 0;
}

/* SearchBar */

.SearchBar {
  display: flex;
}

.SearchBar-toolWrapper {
  width: 326px;
}

.input {
  height: 24px;
  line-height: 24px;
  background: transparent;
  outline: none;
  border: none;
  width: 100%;
}

.SearchBar-input {
  position: relative;
  width: 326px;
  box-sizing: border-box;
  height: 34px;
  padding: 4px 10px;
  background: var(--zhihuGray);
  border: 1px solid #ebebeb;
  transition: width .2s ease, background .3s ease;
}

.Stretch-input {
  width: 400px;
  background: #fff;
  border: 1px solid #8590a6;
}

.SearchBar-askButton {
  margin-left: 16px;
  padding: 0 14px;
  line-height: 30px;
  transition: opacity .3s ease, transform .3s ease, -webkit-transform .3s ease;
}

.SearchBar-focusedSearchIcon {
  color: var(--zhihuBlue);
}

.SearchBar-hiddenAskButton {
  opacity: 0;
  transform: scale(0);
}

.Popover {
  display: block;
  position: relative;
}

.Input-after {
  display: flex;
  position: absolute;
  transform: translateY(-50%);
  right: 10px;
  top: 50%;
}

/* User Info */

.header-userInfo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

.header-notifications, .header-messages {
  position: relative;
  margin-right: 40px;
}

.header-messages .popover-content {
  display: none;
  transform: translateX(-47%);
  width: auto;
}

.header-messages .Messages-menu {
  width: 360px;
  padding: 0;
  overflow: hidden;
}

.Messages-header {
  display: flex;
  border-bottom: 1px solid #ebebeb;
}

.Messages-header .Messages-tab {
  width: 100%;
  color: #1a1a1a;
  height: 48px;
  font-size: 14px;
}
.Messages-list .Messages-item {
  display: flex;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  padding: 15px;
}
.Messages-item:hover {
  background: #f6f6f6;
}
.Messages-user {
  flex:1;
  margin-left: 16px;
  overflow: hidden;
}
.Messages-userName {
  font-size: 15px;
}
.Messages-itemContent {
  height: 20px;
  line-height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #8590a6;
}
.Messages-header .Messages-list {
  height: 350px;
  overflow-x: hidden;
  overflow-y: auto;
}

.UserLink .UserLink-badge {
  margin-left: .3em;
}

.Messages-footer {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  line-height: 40px;
  box-sizing: border-box;
  border-top: 1px solid #ebebeb;
  color: var(--zhihuLight);
}
.Messages-footer .btn {
  font-size: 14px;
  color: var(--zhihuLight);
}
.Messages-footer .btn i {
  margin-right: 6px;
  color: inherit;
}

.messages-toggle {
  display: block !important;
}


.header-notifications .popover-content {
  display: none;
}

.notifications-toggle {
  display: block !important;
}

.PushNotifications-count {
  position: absolute;
  bottom: 50%;
  left: 50%;
  color: #fff;
  padding: 0 4px;
  background-color: #f1403c;
  border-radius: 50%;
  font-size: 11px;
  border: 2px solid #fff;
}

.header-notifications .popover-content {
  position: absolute;
  left: -171px;
  width: auto;
}

.popover-content .PushNotifications-menu {
  width: 360px;
  padding: 0;
  overflow: hidden;
}

.PushNotifications-header {
  display: flex;
  border-bottom: 1px solid #ebebeb;
}

.PushNotifications-header .PushNotifications-tab {
  flex: 1;
  height: 48px;
  position: relative;
}

.PushNotifications-header .PushNotifications-activedTab {
  color: var(--zhihuBlue);
}

.PushNotifications-activedTab:hover {
  color: var(--zhihuBlue) !important;
}

.PushNotifications-redbot {
  position: absolute;
  width: 4px;
  height: 4px;
  background: #f1403c;
  top: 50%;
  transform: translateY(-5px);
  margin-left: 8px;
  border-radius: 50%;
}

.PushNotifications-list {
  height: 350px;
  overflow-x: hidden;
  overflow-y: auto;
}

.PushNotifications-item {
  position: relative;
  padding: 15px;
  font-size: 14px;
  line-height: 24px;
  color: #1a1a1a;
}

.PushNotifications-item::after {
  position: absolute;
  right: 0;
  bottom: 100%;
  left: 0;
  height: 1px;
  padding: 0 16px;
  background-color: #ebebeb;
  content: "";
  background-clip: content-box;
}

.PushNotifications-followList {
  height: 350px;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
}

.EmptyState {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.EmptyState-inner {
  display: flex;
  flex-direction: column;
  color: var(--zhihuLight);
  font-size: 15px;
  text-align: center;
}

.PushNotifications-actor {
  margin-right: 4px;
}

.PushNotifications-title {
  margin-left: 4px;
}

.PushNotifications-actor, .PushNotifications-title {
  color: #175199;
}

.Notifications-footer {
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
  border-top: 1px solid #ebebeb;
  box-sizing: border-box;
  color: var(--zhihuLight);
  padding: 0 16px;
}

.Notifications-footer a>i {
  margin-right: 6px;
}

.header-userInfo button {
  color: var(--zhihuLight);
  font-size: 1.3rem;
}

.avatar {
  border-radius: 2px;
}

.header-profile {
  position: relative;
}

/* User Menu */

.user-menu {
  position: fixed;
  top: 35px;
  transform: translateX(-36%);
  margin-top: 16px;
  opacity: 0;
  height: 100px;
  visibility: hidden;
  transition: opacity .3s ease-in-out, height .2s, visibility 0s;
}

.menu-toggle {
  visibility: visible;
  opacity: 1;
  height: 120px;
}

.popover-content {
  margin-top: 16px;
  position: absolute;
  background: #fff;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  box-shadow: 0 5px 20px #1a1a1a1a;
  box-sizing: border-box;
  width: 120px;
}

.Menu {
  display: flex;
  flex-direction: column;
  padding: 6px 0;
}

.popover-arrow:after {
  content: '';
  width: 0;
  height: 0;
  border: 8px solid transparent;
  margin-top: 1px;
  border-bottom-color: #fff;
  border-top-width: 0;
  position: absolute;
  left: 50%;
  top: -8px;
  transform: translateX(-50%);
  z-index: 201;
}

.Menu .Menu-item {
  height: 36px;
  line-height: 36px;
  cursor: pointer;
  padding: 0 20px;
  color: var(--zhihuLight);
}

.Menu-item:hover {
  background-color: #f6f6f6;
}

.Menu-item i {
  margin-right: 6px;
}

/* Main */

.app-main {
  overflow: hidden;
}

.Topstory {
  z-index: 100;
}

.Topstory-container {
  display: flex;
  width: 1000px;
  padding: 0 16px;
  margin: 10px auto;
}

.Topstory-mainColumn {
  margin-right: 10px;
  margin-right: 10px;
}

.Card {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
  box-sizing: border-box;
  margin-bottom: 10px;
}

.TopstoryHeader {
  display: flex;
  justify-content: space-between;
  line-height: 58px;
  padding: 0 20px;
}

.TopstoryHeader-navItem {
  font-size: 16px !important;
  color: #1a1a1a;
}

.TopstoryHeader-navItem:not(:first-child) {
  margin-left: 20px;
}

.TopstoryHeader-navItem i {
  color: var(--zhihuLight);
  padding-right: 8px;
}

.TopstoryHeader-rightItem {
  color: var(--zhihuLight);
}

.TopstoryMain {
  width: 694px;
}

.TopstoryItem {
  position: relative;
  padding: 16px 20px;
}

.TopstoryItem:hover .TopstoryItem-rightButton {
  opacity: 1;
}

.TopstoryItem-rightButton {
  color: var(--zhihuLight);
  position: absolute;
  right: 16px;
  top: 12px;
  opacity: 0;
  transition: opacity .3s;
}

/* Feed */

.Feed {
  margin-bottom: 10px;
}

.FeedSource-firstline {
  margin-bottom: 4px;
  color: var(--zhihuLight);
}

.ContentItem-title {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6;
}

.RichContent {
  cursor: pointer;
}

.RichContent-inner {
  margin: 4px 0;
}

.RichText {
  white-space: normal;
  word-break: break-all;
}

.RichText::after {
  content: '...';
}

.ContentItem-more {
  margin-left: 4px;
  color: #175199;
}

.ContentItem-more>i {
  margin-left: 8px;
}

/* Feed actions */

.ContentItem-actions {
  display: flex;
  margin: 0 -20px -20px;
  padding: 10px 20px;
}

.TopstoryItem .fa-sort-up {
  vertical-align: -webkit-baseline-middle;
}

.ContentItem-actions .VoteButton {
  color: var(--zhihuBlue);
  background: #0084ff1a;
  border-color: transparent;
  line-height: 30px;
  padding: 0 12px;
}

.VoteButton-up>i {
  margin-right: 8px;
}

.ContentItem-action {
  margin-left: 24px;
  color: var(--zhihuLight);
}

.ContentItem-action>i {
  margin-right: 8px;
}

/* SideBar */

.Sticky {
  width: 296px;
  position: fixed;
  box-sizing: border-box;
}

.GlobalSideBar-categoryList {
  display: flex;
  padding: 20px 10px 0 10px;
  flex-wrap: wrap;
  margin: 0;
  list-style-type: none;
}

.GlobalSideBar-categoryItem {
  width: 33%;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.GlobalSideBar-categoryIcon {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 1.3rem;
  margin-bottom: 10px;
  color: inherit;
}

.GlobalSideBar-categoryItem .btn:hover {
  color: inherit;
}

.fa-bolt {
  color: #ffcf00;
}

.GlobalSideBar-categoryItem:first-child:hover {
  color: #ffcf00;
}

.fa-book {
  color: #43d480;
}

.GlobalSideBar-categoryItem:nth-child(2):hover {
  color: #43d480;
}

.fa-dot-circle {
  color: #0084ff;
}

.GlobalSideBar-categoryItem:nth-child(3):hover {
  color: #0084ff;
}

.fa-pencil-alt {
  color: #0f88eb;
}

.GlobalSideBar-categoryItem:nth-child(4):hover {
  color: #0f88eb;
}

.fa-hand-holding-usd {
  color: #5478f0;
}

.GlobalSideBar-categoryItem:nth-child(5):hover {
  color: #5478f0;
}

/* SideBar Nav */

.GlobalSideBar-navList {
  list-style-type: none;
  margin: 0;
  padding: 8px 0;
}

.GlobalSideBar-navItem:hover {
  background: #f6f6f6;
}

.GlobalSideBar-navItem:hover .GlobalSideBar-navNumber {
  background: #fff;
}

.GlobalSideBar-navItem .GlobalSideBar-navLink {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 20px;
  color: var(--zhihuLight);
}

.GlobalSideBar-navText {
  flex: 1;
  margin: 0 10px;
}

.GlobalSideBar-navNumber {
  font-size: 12px;
  padding: 6px 10px;
  background: var(--zhihuGray);
  border-radius: 2px;
}

/* Footer */

footer {
  font-size: 13px;
  color: var(--zhihuLight);
  line-height: 2;
  padding: 0 0 0 5px;
}

.Footer-dot:after {
  content: '·';
}

/* Corner Btn */

.CornerButtons {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 0;
  right: 12px;
}

.CornerAnimayedFlex {
  width: 40px;
  height: 52px;
  transition: height .2s;
}

.CornerAnimayedFlex .CornerButton {
  color: var(--zhihuLight);
  font-size: 1.3rem;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
}

.CornerAnimayedFlex--hidden {
  height: 0;
}

.CornerButton:hover {
  background: #d3d3d3;
}

/* Buttons */

.btn {
  font-size: 14px;
  outline: none;
  cursor: pointer;
  background: none;
  border: 1px solid;
  border-radius: 3px;
}

.btn-plain {
  height: auto;
  background-color: transparent;
  padding: 0;
  line-height: inherit;
  border: none;
  border-radius: 0;
}

.btn-plain:hover {
  color: #77839c;
}

.btn-blue {
  color: #fff;
  background-color: var(--zhihuBlue);
  border-color: var(--zhihuBlue);
}

/* Feedback Form */

.modal-wrapper {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10010;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10010;
  background-color: #000000a6;
}

.feedBackModal {
  position: relative;
  background: #fff;
  border-radius: 2px;
  z-index: 10011;
}

.modal-closeButton {
  cursor: pointer;
  outline: none;
  position: absolute;
  right: -30px;
  top: 5px;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.3rem;
}

.modal-content {
  width: 588px;
  max-height: calc(100vh - 24px * 2);
  overflow-x: hidden;
  overflow-y: auto;
}

.FeedbackForm {
  padding: 40px 24px 32px;
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
  line-height: 1.5;
  color: #404040;
}

.FeedbackForm-header {
  margin-bottom: 26px;
  text-align: center;
}

.FeedbackForm-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

.FeedbackForm-input {
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
  height: auto;
  font-size: 15px;
  border: 1px solid #e7eaf1;
  border-radius: 3px;
  resize: none;
  outline: none;
}

.FeedbackForm-screenShot {
  max-height: 555px;
  overflow: hidden;
}

.FeedbackForm-screenShotLable {
  padding-top: 22px;
  user-select: none;
}

.FeedbackForm-canvasContainer {
  margin-top: 8px;
  position: relative;
  background-color: #f6f7f9;
}

.FeedbackForm-canvas {
  width: 100%;
  height: 1000px;
  background: var(--zhihuBlue);
}

.FeedbackForm-checkLabelWrapper {
  margin-top: 12px;
}

.FeedbackForm-checkLabel {
  cursor: pointer;
  color: #9aaabf;
  user-select: none;
}

.FeedbackForm-checkLabel input {
  margin-right: .5em;
  vertical-align: 1px;
}

.FeedbackForm-actions {
  margin-top: 40px;
  text-align: center;
}

.FeedbackForm-submitButton {
  padding: 8px 1em;
  min-width: 220px;
  background: var(--zhihuBlue);
  border: 1px solid var(--zhihuBlue);
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  outline: none;
}
