body {
  margin: 0;
  background: #fafafa;
  height: 1500px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:link, a:active, svg {
  color: inherit;
}

/* Nav bar */

#navbar {
  position: fixed;
  display: grid;
  height: 77px;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, .0975);
  transition: height 0.3s ease-in-out;
}

#navbar-inner {
  margin: 0 auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

#logo {
  font-size: 2rem;
}

#logo>a {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

#searchbar {
  top: 0;
  transition: top 0.3s ease-in-out;
}

#accout {}

#logo img {
  position: relative;
  top: 5px;
  width: 7rem;
  height: 2.5rem;
  padding-left: 10px;
}

#title {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

#logo #title::before {
  content: '|';
  position: relative;
  top: -8px;
  font-weight: lighter;
  color: #B5B5B5;
}

#icon {
  position: relative;
  top: -2px;
  padding: 0 8px;
  box-sizing: content-box;
  color: #323232;
}

/* searchbar */

#searchbar {
  height: 28px;
  position: relative;
  display: grid;
  justify-self: center;
}

.input-bar {
  display: grid;
  grid-template-columns: 1fr;
}

#searchbar input {
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  color: #262626;
  font-size: 14px;
  outline: none;
  padding: 3px 10px 3px 26px;
}

#mask {
  font-size: 14px;
  border-radius: 3px;
  color: #999;
  cursor: text;
  position: absolute;
  text-align: center;
  z-index: 2;
  border: solid 1px #dbdbdb;
  background: #fafafa;
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
}

.mask-hide {
  background: #fff !important;
  width: 0 !important;
  border: none !important;
  padding: 0 !important;
}

.zoom-hide {
  left: 6px !important;
  position: absolute !important;
}

/* Accout */

#accout {
  display: grid;
  justify-self: end;
}

#accout ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#accout ul li {
  color: #323232;
  margin-right: 1.5rem;
  font-size: 1.5rem;
}

#placeholder {
  margin-left: 6px;
  user-select: none;
  height: 20px;
  display: inline-flex;
}

#close {
  position: absolute;
  right: 5px;
  top: 3px;
  cursor: pointer;
  color: #C7C7C7;
}

.faded {
  opacity: 0 !important;
}

@media (max-width:667px) {
  #title {
    display: none;
  }
  #logo>a {
    grid-template-columns: auto;
  }
}

@media (max-width:500px) {
  #searchbar {
    display: none;
  }
  #title {
    display: block;
  }
  #navbar-inner {
    grid-template-columns: 1fr 1fr;
  }
  #logo>a {
    grid-template-columns: auto 1fr;
  }
  #accout {
    justify-self: center;
  }
}
